@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Titillium+Web:wght@300;400;600;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
    --background-purple: #141628;
    --transparent-purple: #0d102f8c;
	--bright-purple: #522ad5;
	--background-white: #ffffff1a;
	--outline-white: #ffffff4d;
	--hover-gray: #d9d9d9;
	--contrast-gray: #a3a3a3;
}

body {
	background-color: var(--background-purple);
	color: white;
	font-family: "Titillium Web", sans-serif;
}

#__next {
	display: flex;
	align-items: center;
	flex-direction: column;
}

section, header {
	width: min(80%, 1000px);
}

section {
	padding-inline: 2rem;
	margin-bottom: 8rem;
}

section h2 {
	font-size: 2.2rem;
	font-weight: 600;
}