@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Titillium+Web:wght@300;400;600;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
    --background-purple: #141628;
    --transparent-purple: #0d102f8c;
	--bright-purple: #6435ff;
	--hover-purple: #313760;
	--hover-purple2: #6b42f4;
	--background-white: #ffffff1a;
	--outline-white: #ffffff35;
	--hover-gray: #d9d9d9;
	--contrast-gray: #a3a3a3;
	--dark-gray: #606060;
	--block-margin: 3rem;
}

body {
	background-color: var(--background-purple);
	color: white;
	font-family: "Titillium Web", sans-serif;
}

#__next {
	display: flex;
	align-items: center;
	flex-direction: column;
}

section, header, footer {
	width: min(80%, 1000px);
}

section, footer {
	padding-inline: 2rem;
	margin-bottom: 8rem;
}

section h2 {
	font-size: 2.2rem;
	font-weight: 600;
}

button {
	width: 50%;
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	font-size: 2.2rem;
	border-radius: 30px;
	background: var(--background-white);
	border: 1px solid var(--outline-white);
	padding: 1.5rem;
	font-family: inherit;
	color: inherit;
}

button:hover {
	background: #ffffff25;
	cursor: pointer;
}