.body {
	position: relative;
	border-radius: 30px;
	background: var(--background-white);
	border: 1px solid var(--outline-white);
	height: 260px;
    overflow: hidden;
}

.dynamicContainer {
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 1rem;
	transition: bottom 0.2s ease-in-out;
	padding: 0 1.5rem;
	width: 100%;
}

.title {
	font-size: 1.5rem;
	line-height: 1.8rem;
}

.subtitle {
	font-size: 1rem;
	line-height: 1.3rem;
	color: var(--contrast-gray);
}

.body:hover .dynamicContainer {
	bottom: calc(100% - 1.8rem - 1.3rem - 1rem);
}

.infoContainer {
	display: inline-flex;
	flex-direction: column;
}

.tagsContainer {
	display: inline-block;
	opacity: 1;
	transition: opacity 0.2s ease-in-out;
}

.body:hover .tagsContainer {
	opacity: 0;
}

.tagRow {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.tagRow > div {
	color: var(--background-purple);
	margin-left: 0.2rem;
	margin-top: 0.2rem;
	float: right;
	background: white;
	border-radius: 30px;
	padding: 0 0.5rem;
	font-size: 0.8rem;
	font-weight: 600;
}

.iconContainer {
	position: absolute;
	display: flex;
	align-items: center;
    gap: 0.5rem;
	height: calc(1.8rem + 1.3rem);
	right: 1.5rem;
	bottom: 0rem;
	font-size: 2rem;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

.iconContainer a {
    color: white;
}

.iconContainer a:hover {
    color: var(--hover-gray);
}

.body:hover .iconContainer {
	opacity: 1;
}

.descContainer {
    position: absolute;
    top: 100%;
    padding-inline: 1.5rem;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, top 0.2s ease-in-out;
    max-height: 48%;
    overflow: hidden;
    text-align: justify;
}

.body:hover .descContainer {
    opacity: 1;
    top: calc(1.8rem + 1.3rem + 1.5rem);
}

.bottomButton {
    position: absolute;
    bottom: -100%;
    right: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    gap: 0.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, bottom 0.2s ease-in-out;
}

.body:hover .bottomButton {
    opacity: 1;
    bottom: 0;
}

.bottomButton:hover {
    color: var(--hover-gray);
    cursor: pointer;
}