#startSection {
	height: 100vh;
    min-height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.container {
    margin-right: 6rem;
}

#startSection img {
    height: 15rem;
    width: auto;
}

#startSection span {
    color: var(--bright-purple);
}

#startSection h1 {
    font-size: 6rem;
    line-height: 5.5rem;
}

#startSection h2 {
    font-size: 3.9rem;
    font-weight: 400;
}

#startSection h3 {
    font-weight: 400;
    font-size: 1.45rem;
    color: var(--contrast-gray);
}

.sectionBackground {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -100;
    background: url("/codetest_background.jpg");
    background-size: cover;
}

.sectionBackground::after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, var(--transparent-purple) 0%, var(--transparent-purple) 70%, var(--background-purple) 100%);
}